<%= form_for [@user, @guidance] do |f| %>
	<h3>选择你所负责指导的农户</h3>
	
	<p><%= f.submit '修改', :class => 'btn success' %></p>
	
	<table class="table table-bordered table-striped sortable-table">
		<thead>
			<tr>
				<th class="header">ID</th>
				<th class="header">姓名</th>
	            <th class="blue header">添加</th>
			</tr>
		</thead>

		<tbody>
			<% @farmers.each do |farmer| %>
				<tr>
				<td><%= farmer.id %></td>
				<td><%= link_to farmer.name, farmer_path(farmer) %></td>
				<td>
					<!-- include? method ensure the checkbox is initially checked if the user has already been in charge of the farmer -->
					<%= check_box_tag 'selected_farmer_ids[]', farmer.id, @user.farmer_ids.include?(farmer.id) %>
				</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>