<div class="hero-unit">
<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
	<div class="form-field">
		<%= f.password_field :password, :placeholder => t(:password) %>
	</div>
	<div class="form-field">
		<%= f.password_field :password_confirmation, :placeholder => t(:password_confirmation) %>
	</div>
	<div>
		<%= f.submit "Reset Password", :class => 'btn success'%>
	</div>
<% end %>
</div>