<div class="hero-unit">
<%= form_tag password_resets_path, :method => :post, :class => "form-horizontal"  do %>	
	<div class="control-group">
		<%= label_tag :email, t(:email), :class => "control-label" %>
		<div class="controls">
			<%= text_field_tag :email, params[:email], :placeholder => t(:email) %>
		</div>
	</div>

	<div class="control-group">
		<%= label_tag :captche, t('recaptcha.label'), :class => "control-label" %>
		<div class="controls"><%= recaptcha_tags %></div>
	</div>

	<div class="form-actions">
		<%= submit_tag t(:submit), :class => 'btn btn-primary'%>
	</div>
<% end %>
</div>