<% @tweets.each do |tweet| %>
	<div class='well'>
		<ul class='unstyled'>
			
			<!-- parents -->
			<% Tweet.parents(tweet[:core_id]).each do |parent| %>
				<li><%= link_to parent['author'], user_tweet_path(parent['author_id'], '') %> <%= parent['content'] %></li>
			<% end %>
			<li>
				<%= link_to tweet[:author], user_tweet_path(tweet[:author_id], '') %>
				<% if tweet[:retweeted_by] %>
					Retweeted by <%= link_to tweet[:retweeted_by], user_tweet_path(tweet[:retweeted_by_id], '') %>
				<% end %>
			</li>
			<li><h2><%= tweet[:content] %></h2></li>
			<li><%= tweet[:pub_date] %></li>
			<!-- replies -->
			<% Tweet.replies(tweet[:core_id]).each do |reply| %>
				<li><%= link_to reply['author'], user_tweet_path(reply['author_id'], '') %> <%= reply['content'] %></li>
			<% end %>
		</ul>
	</div>
<% end %>