<table class="table table-bordered table-striped sortable-table">
	<thead>
		<tr>
			<th class="header">ID</th>
			<th class="header">姓名</th>
			<th class="header">权限</th>
            <th class="header">邮箱</th>
            <th class="header">电话</th>
			<th class="header">指导农户</th>
		</tr>
	</thead>
	
	<tbody>
		<% @users.each do |user| %>
			<tr>
			<td><%= user.id %></td>
			<td><%= link_to user.name, user_path(user) %></td>
			<td><%= user.roles.map { |r| r.name }.join(", ") %></td>
			<td><%= user.email %></td>
			<td><%= user.mobile %></td>
			<td><%= user.farmers.count %></td>
			</tr>
		<% end %>
	</tbody>
</table>