<!-- TODO: need nested form for pesticide application, fertilizer application, and harm suffered -->
<%= simple_form_for @grow do |f| %>
	<%= f.association :pesticides, :include_blank => true %>
	<%= f.association :fertilizers, :include_blank => true %>
	<%= f.association :harms, :include_blank => true %>
	<%= f.input :sowing_date, :as => :date, :start_year => Date.today.year - 10, :end_year => Date.today.year, :default => Date.today %>
	<%= f.button :submit, :class => 'btn-warning' %>
<% end %>