<% content_for :aside do %>
<div class="span2">
	<div class="well sidebar-nav">
	<%= form_tag grows_path, :class => 'form-search', method: :get do %>
		<%= text_field_tag :query, params[:query], :class => 'input-medium search-query', :placeholder => t('search') %>
	<% end %>
	
	<ul class="nav nav-list">
		<li class="nav-header"><%= Crop.model_name.human %></li>
		<% @grows.facets['crop_tags']['terms'].each do |facet| %>
		<li>
			<span class="label label-info"><%= link_to_unless_current Crop.find(facet['term']).category, params.merge(crop_id: facet['term']) %></span>
			<% if params[:crop_id] == facet['term'].to_s %>
				<span class="pull-right"><%= link_to 'remove', crop_id: nil %></span>
			<% else %>
				<span class="pull-right"><%= facet['count'] %></span>
			<% end %>
		</li>
		<% end %>
	</ul>
	
	<ul class="nav nav-list">
		<li class="nav-header"><%= Pesticide.model_name.human %></li>
		<% @grows.facets['pesticide_tags']['terms'].each do |facet| %>
		<li>
			<span class="label label-info"><%= link_to_unless_current Pesticide.find(facet['term']).name, params.merge(pesticide_ids: facet['term']) %></span>
			<% if params[:pesticide_ids] == facet['term'].to_s %>
				<span class="pull-right"><%= link_to 'remove', pesticide_ids: nil %></span>
			<% else %>
				<span class="pull-right"><%= facet['count'] %></span>
			<% end %>
		</li>
		<% end %>
	</ul>
	
	<ul class="nav nav-list">
		<li class="nav-header"><%= Harm.model_name.human %></li>
		<% @grows.facets['harm_tags']['terms'].each do |facet| %>
		<li>
			<span class="label label-info"><%= link_to_unless_current Harm.find(facet['term']).name, params.merge(harm_ids: facet['term']) %></span>
			<% if params[:harm_ids] == facet['term'].to_s %>
				<span class="pull-right"><%= link_to 'remove', harm_ids: nil %></span>
			<% else %>
				<span class="pull-right"><%= facet['count'] %></span>
			<% end %>
		</li>
		<% end %>
	</ul>
	
	</div>
</div>
<% end %>

<%= bootstrap_will_paginate @grows %>

<!-- grows table, shared by farmer and grow view -->
<table class="table table-bordered table-striped sortable-table">
	<thead class="table-header">
		<tr>
			<th class="header">ID</th>
			<th class="header blue"><%= Farmer.model_name.human %></th>
			<th class="header">作物种类</th>
            <th class="yellow header headerSortDown">播种面积</th>
            <th class="blue header">播种时间</th>
            <th class="blue header"><%= Harm.model_name.human %></th>
            <th class="blue header"><%= Pesticide.model_name.human %></th>
		</tr>
	</thead>
	
	<tbody>
		<% @grows.each do |g| %>
			<tr>
				<td>
					<a href="<%= grow_path(g) %>"><i class='icon-cog'></i><%= g.id %></a>
				</td>
				<td><%= link_to g.farmer.name, farmer_path(g.farmer) %></td>
	            <td><%= 
					link_to g.crop.category, crop_path(g.crop), {
						:class => 'crop-popover-trigger',
						'data-original-title' => "<span class='label success'>#{g.crop.quality}</span>",
						'data-content' => "<img src='#{g.crop.image}' width='100' height='100'/><h5>生育期</h5>#{g.crop.growth_start}<br/>#{g.crop.growth_end}"
						} 
					%>
				</td>
	            <td><%= g.sown_area %></td>
	            <td><%= g.sowing_date %></td>
				<td><%= truncate(g.harms.map{|h| h.name}.join(','), :length => 10)%></td>
				<td><%= truncate(g.pesticides.map{|p| p.name}.join(','), :length => 10)%></td>
			</tr>
		<% end %>
	</tbody>
</table>