<%= form_for [@farmer, @grow] do |f| %>
	<h3>添加作物种植信息</h3>
	<p>
		<%= collection_select(:grow, :crop_id, @crops, :id, :category) %>
	</p>
	<p>
		<%= f.text_field :sown_area, :placeholder => "播种面积" %>
	</p>
	<p>
		<%= date_select("grow", "sowing_date") %>
	</p>
	
	<p><%= f.submit '添加', :class => 'btn success' %></p>
<% end %>