<h2><%= @grow.crop.category %></h2>

<ul class="nav nav-tabs">
	<li class="active"><a data-target="#pesticide" data-toggle="tab">施药水平</a></li>
	<li><a data-target="#fertilizer" data-toggle="tab">施肥水平</a></li>
	<li><a data-target="#harms" data-toggle="tab">病虫草害</a></li>
</ul>

<div class="tab-content">
	
  	<div class="tab-pane active fade in" id="pesticide">
		<table class="table table-bordered table-striped sortable-table">
			<thead>
				<tr>
					<th class="header">名字</th>
					<th class="header">种类</th>
		            <th class="yellow header headerSortDown">时间</th>
		            <th class="blue header">施药量</th>
				</tr>
			</thead>
			<tbody>
				<% @grow.pesticide_applications.each do |pa|  %>
				<tr>
					<td><%= pa.pesticide.name%></td>
		            <td><%= pa.pesticide.category %></td>
		            <td><%= pa.date %></td>
		            <td><%= pa.amount %></td>
				</tr>
				<% end %>	
			</tbody>
		</table>
  	</div>

	<div class="tab-pane fade" id="fertilizer">
		<table class="table table-bordered table-striped sortable-table">
			<thead>
				<tr>
					<th class="header">名称</th>
					<th class="header">类型</th>
					<th class="header">公斤／亩</th>
					<th class="header">施用日期</th>
					<th class="header">N</th>
		            <th class="yellow header headerSortDown">P</th>
		            <th class="blue header">K</th>
		            <th class="blue header">其他</th>
				</tr>
			</thead>
			<tbody>
				<% @grow.fertilizer_applications.each do |fa| %>
				<tr>
					<td><%= fa.fertilizer.name %></td>
					<td><%= fa.fertilizer.category %></td>
		            <td><%= fa.amount %></td>
					<td><%= fa.date %></td>
		            <td><%= fa.fertilizer.n %></td>
		            <td><%= fa.fertilizer.p %></td>
		            <td><%= fa.fertilizer.k %></td>
		            <td><%= fa.fertilizer.others %></td>
				</tr>
				<% end %>		
			</tbody>
		</table>
  	</div>

  	<div class="tab-pane fade" id="harms">
		<table class="table table-bordered table-striped sortable-table">
			<thead>
				<tr>
					<th class="header">病害类型</th>
				</tr>
			</thead>
			<tbody>	
				<% @grow.harms.each do |h|  %>
				<tr>
					<td><%= h.name %></td>
				</tr>
				<% end %>	
			</tbody>
		</table>
  	</div>
</div>

<%= link_to t('helpers.submit.edit', :model => Grow.model_name.human), edit_grow_path(@grow), :class => 'btn btn-warning'%>
<%= link_to t('helpers.submit.delete', :model => Grow.model_name.human), @grow, :method => :delete, :class => 'btn btn-danger'%>