<% content_for :aside do %>
<!-- testing facet -->
<div class="span2">
	<div class="well sidebar-nav">
		
		<ul class="nav nav-list">
			<li class="nav-header"><%= t('task_list') %></li>

		</ul>
		
	</div>
</div>
<% end %>

<h1><%= User.model_name.human %>: <%= current_user.name %></h1>
<p><%= link_to '发消息', '#', :class => "btn btn-primary"%></p>
<%= render 'recent_commits' %>