<div class="hero-unit">
<%= form_tag sessions_path, :class => "form-horizontal" do %>
	<div class="control-group">
		<%= label_tag :username, t(:username), :class => "control-label" %>
		<div class="controls">
			<%= text_field_tag :username, params[:username], :placeholder => t(:username) %>
		</div>
	</div>
	
	<div class="control-group">
		<%= label_tag :password, t(:password), :class => "control-label" %>
		<div class="controls">
			<input id="password" name="password" type="password" placeholder="<%= t(:password) %>">
		</div>
	</div>
	<div class="form-actions">
		<%= submit_tag t(:signin), :class => 'btn btn-primary'%>
		<%= link_to t(:forgot_password), new_password_reset_path, :id => "forgot-passowrd" %>
	</div>
<% end %>
</div>
<%= render 'recent_commits' %>