<!-- bootstrap style of dialog -->
<div class="modal" id="map-dialog" style="display: none;">
	<div class="modal-header">
		<a href="#" class="close">×</a>
		<h3></h3>
	</div>
	<div class="modal-body">
		<img src="" id="map-image-holder" width="450" height="300">
		<p></p>
	</div>
</div>