<div class="removable-fields span4">                         
	<div class="control-group">
		<%= label_tag :label, t('label'), :class => "control-label" %>
		<div class="controls"><%= f.text_field :label, :placeholder => t('label') %></div>
	</div>
	<div class="control-group">
		<%= label_tag :label, t('address.detail'), :class => "control-label" %>
		<div class="controls"><%= f.text_field :detail, :placeholder => t('address.detail') %></div>
	</div>
	<div class="control-group">
		<%= label_tag :label, t('address.city'), :class => "control-label" %>
		<div class="controls"><%= f.text_field :city, :placeholder => t('address.city') %></div>
	</div>
	<div class="control-group">
		<%= label_tag :label, t('address.province')+"/"+t('address.municipality'), :class => "control-label" %>
		<div class="controls"><%= f.text_field :province, :placeholder => t('address.province')+"/"+t('address.municipality') %></div>
	</div>
	<div class="control-group">
		<%= label_tag :label, t('address.country')+"/"+t('address.region'), :class => "control-label" %>
		<div class="controls"><%= f.text_field :country_region, :placeholder => t('address.country')+"/"+t('address.region') %></div>
	</div>
	<div class="control-group">
		<%= label_tag :label, t('address.postcode'), :class => "control-label" %>
		<div class="controls"><%= f.text_field :postcode, :placeholder => t('address.postcode') %></div>
	</div>
	<div class="control-group">
		<div class="controls"><%= link_to_remove_fields t('helpers.submit.delete', :model => FarmerAddress.model_name.human), "btn-danger btn-small", f %></div>
	</div>	
</div>