<div class="removable-fields span6">
	<div class="control-group">
		<%= label_tag :label, t('label'), :class => "control-label" %>
		<div class="controls"><%= f.text_field :label, :placeholder => t('label') %></div>
	</div>
	<div class="control-group">
		<%= label_tag :label, t('email'), :class => "control-label" %>
		<div class="controls"><%= f.text_field :value, :placeholder => t('email') %></div>
	</div>
	<div class="control-group">
		<div class="controls"><%= link_to_remove_fields t('helpers.submit.delete', :model => FarmerEmail.model_name.human), "btn-danger btn-small", f %></div>
	</div>
</div>