<div class="row farmer-card">
	<div class="span9">
		<h3><%= link_to farmer.name, farmer_path(farmer.id) %></h3>
		
		<p>
		<% for telecom in farmer.telecoms %>
			<a class="tooltip-tag" href="#" rel="tooltip" data-original-title="<%= telecom.label %>"><%= telecom.value %></a>
		<% end %>
		<br/>
		<% for email in farmer.emails %>
			<a href="mailto:<%= email.value %>" rel="tooltip" data-original-title="<%= email.label %>">
				<%= email.value %>
			</a>
		<% end %>
		</p>

		<p>
		<% for addr in farmer.addresses %>
			<span class="label notice">
				<% if useGeocoder %>
					<%= 
					info = Geocoder.search( addr.value )
					if !info[0].nil?
						lat = info[0].latitude
						lng = info[0].longitude

						link_to_function "#{addr.label}", "showMap('#{farmer.name}', '#{addr.label}', '#{addr.value}', '#{lat}', '#{lng}')", 
						:class => "test",
						:id => "map-trigger"
					else
						addr.label
					end
					%>
				<% else %>
					<%= addr.label %>
				<% end %>
			</span>&nbsp;
			<span><%= addr.value %><span>
			<br/>
		<% end %>
		</p>
		
		
		<%= link_to t('helpers.submit.create', :model => Grow.model_name.human), new_farmer_grow_path(farmer), :class => 'btn btn-primary'%>
		<%= link_to '修改', edit_farmer_path(farmer.id), :class => 'btn btn-warning'%>  
		<%= link_to '删除', farmer, :method => :delete, :class => 'btn btn-danger'%>
		  
		
	</div>
	
	<div class="span3 farmer">
		<div class="thumbnail">
			<a class="small-grid" href="<%= farmer_path(farmer.id) %>">
				<img src="http://placehold.it/90x90">
			</a>
			<div class="caption">
				<h5>Thumbnail label</h5>
              	<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              	<p><a href="#" class="btn">修改照片</a></p>
			</div>
		</div>
	</div>
</div>