<!-- For some reason, the 'removed', actually hidden field will 
still be validated by client side validation, in order to stop the validation we have to stop validation dynamically. -->
<%= form_for @farmer, :html => {:class => "form-horizontal farmer-form"} do |f| %>
  	
	<div class="control-group well">
		<%= label_tag :name, t(:full_name), :class => "control-label" %>
		<div class="controls"><%= f.text_field :name, :placeholder => t(:full_name) %></div>
	</div>
	
	<div class="control-group well">
		<h2><%= FarmerTelecom.model_name.human %></h2>
		<%= f.fields_for :telecoms 	do |builder| %>
			<%= render 'telecom_fields', :f => builder %>
		<% end %>
		<div class="controls span12"><%= link_to_add_fields t('helpers.submit.create', :model => FarmerTelecom.model_name.human), f, :telecoms %></div>
	</div>
	
	<div class="control-group well">
		<h2><%= FarmerEmail.model_name.human %></h2>
		<%= f.fields_for :emails do |builder| %>
			<%= render 'email_fields', :f => builder %>
		<% end %>
		<div class="controls span12"><%= link_to_add_fields t('helpers.submit.create', :model => FarmerEmail.model_name.human), f, :emails %></div>
	</div>
	
	<div class="control-group well">
		<h2><%= FarmerAddress.model_name.human %></h2>
		<%= f.fields_for :addresses do |builder| %>
			<%= render 'address_fields', :f => builder %>
	  	<% end %>
		<div class="controls span12"><%= link_to_add_fields t('helpers.submit.create', :model => FarmerAddress.model_name.human), f, :addresses %></div>
	</div>
	

	<div class="form-actions well">
		<span class="btn btn-success fileinput-button">
			<span>
				<%= btn_name %>
				<i class="icon-ok icon-white"></i>
			</span>
			<%= f.submit btn_name %>
		</span>
	</div>
<% end %>