<p><!-- grows table, shared by farmer and grow view -->
<table class="table table-bordered table-striped sortable-table">
	<thead>
		<tr>
			<th class="header">#</th>
			<th class="header"><%= Crop.model_name.human %></th>
            <th class="yellow header">播种面积</th>
            <th class="blue header">播种时间</th>
			<th class="header">产量</th>
			<th class="header">时间</th>
            <th class="yellow header">价格</th>
            <th class="yellow header">备注</th>
		</tr>
	</thead>
	
	<tbody>
		<% @grows.each do |g| %>
			<tr>
				<td><a href="<%= grow_path(g) %>"><i class='icon-cog'></i><%= g.id %></a></td>
	            <td><%= 
					link_to g.crop.category, crop_path(g.crop), {
						:class => 'crop-popover-trigger',
						'data-original-title' => "<span class='label success'>#{g.crop.quality}</span>",
						'data-content' => "<img src='#{g.crop.image}' width='100' height='100'/><h5>生育期</h5>#{g.crop.growth_start}<br/>#{g.crop.growth_end}"
						} 
					%>
				</td>
	            <td><%= g.sown_area %></td>
	            <td><%= g.sowing_date %></td>
				<td><%= g.harvest_info.try(:yield) %></td>
				<td><%= g.harvest_info.try(:date) %></td>
				<td><%= g.harvest_info.try(:price) %></td>
				<td><%= truncate(g.note, :length => 30) %></td>
			</tr>
		<% end %>
	</tbody>
</table></p>