<div class="removable-fields span4">
	<div class="control-group">
		<%= label_tag :label, t('label'), :class => "control-label" %>
		<div class="controls"><%= f.text_field :label, :placeholder => t('label') %></div>
	</div>
	<div class="control-group">
		<%= label_tag :value, FarmerTelecom.model_name.human, :class => "control-label" %>
		<div class="controls"><%= f.text_field :value, :placeholder => FarmerTelecom.model_name.human %></div>
	</div>
	<div class="control-group">
		<div class="controls"><%= link_to_remove_fields t('helpers.submit.delete', :model => FarmerTelecom.model_name.human), "btn-danger btn-small", f %></div>
	</div>
</div>