<% content_for :aside do %>
<div class="span2">
	<div class="well sidebar-nav">
	<%= form_tag farmers_path, :class => 'form-search', method: :get do %>
		<%= text_field_tag :query, params[:query], :class => 'input-medium search-query', :placeholder => t('search') %>
	<% end %>
	
	<ul class="nav nav-list">
		<li class="nav-header"><%= t('label') %></li>
		<% @farmers.facets['tags']['terms'].each do |facet| %>
		<li>
			<span class="label label-info"><%= link_to_unless_current User.find(facet['term']).name, params.merge(user_ids: facet['term']) %></span>
			<% if params[:user_ids] == facet['term'].to_s %>
				<span class="pull-right"><%= link_to 'remove', user_ids: nil %></span>
			<% else %>
				<span class="pull-right"><%= facet['count'] %></span>
			<% end %>
		</li>
		<% end %>
	</ul>
	
	</div>
</div>
<% end %>

<%= bootstrap_will_paginate @farmers %>

<% @farmers.each do |f| %>
	<%= render 'farmer_card', :farmer => f, :useGeocoder => false %>
	<br />
<% end %>

<%= bootstrap_will_paginate @farmers %>


<%= render 'address_dialog' %>
