<div class="row crop-card">
	<div class="span12">
		<h3><%= link_to crop.category, crop_path(crop.id) %></h3>
		<br/>
		<p>
		<span class="label success"><%= crop.quality %></span>&nbsp;<%= crop.variety %>
		</p>
		生育期&nbsp;<%= crop.growth_start %>&nbsp;<%= crop.growth_end %>
		<p>
				
		<%= link_to 'Edit', edit_crop_path(crop.id), :class => 'btn info small'%>  
		<%= link_to 'Delete', crop, :method => :delete, :class => 'btn danger small'%>
	</div>
	
	<div class="span3">
		<a class="small-grid" href="<%= crop_path(crop.id) %>">
			<% if crop.image.nil? %>
				<img class="thumbnail" src="http://placehold.it/90x90">
			<% else %>
				<img src="<%= crop.image %>" width="90" height="90">
			<% end %>
		</a>
	</div>
	
	<a href="#" class="btn small">修改照片</a>
</div>