<%= form_for @crop do |f| %>
  	<h5>作物种类</h5>
	<p>
		<%= f.text_field :category, :placeholder => "作物种类" %>
	</p>
	<p>
		<%= f.text_field :variety, :placeholder => "品种" %>
	</p>
	
	<p>
		<%= f.text_field :quality, :placeholder => "品质" %>
	</p>

	<h5>生育期</h5>
	<p>
		<!-- <%= f.text_field :growth_start, :placeholder => "开始" %> -->
		<%= date_select("crop", "growth_start", :discard_year => true) %>
	</p>
	
	<p>
		<%= date_select("crop", "growth_end", :discard_year => true) %>
	</p>
	
	<p>
		<% if @crop.image.nil? %>
			<img class="thumbnail" src="http://placehold.it/90x90">
		<% else %>
			<img src="<%= @crop.image %>" width="90" height="90">
		<% end %>
	</p>
	<a href="#" class="btn small">修改照片</a>
	
	<p><%= f.submit btn_name, :class => 'btn success' %></p>
<% end %>