<% content_for :aside do %>
<div class="span2">
	<div class="well sidebar-nav">
	<%= form_tag crops_path, :class => 'form-search', method: :get do %>
		<%= text_field_tag :query, params[:query], :class => 'input-medium search-query', :placeholder => t('search') %>
	<% end %>
	</div>
</div>
<% end %>

<% @crops.each do |c| %>
	<%= render 'crop_card', :crop => c %>
	<br/>
<% end %>