<% content_for :aside do %>
<div class="span2">
	<div class="well sidebar-nav">
	<%= form_tag pesticides_path, :class => 'form-search', method: :get do %>
		<%= text_field_tag :query, params[:query], :class => 'input-medium search-query', :placeholder => t('search') %>
	<% end %>
</div>
<% end %>

<%= bootstrap_will_paginate @pestiides %>

<table class="table table-bordered table-striped sortable-table">
	<thead class="table-header">
		<tr>
			<th class="header">#</th>
			<th class="header blue"><%= Pesticide.model_name.human %></th>
            <th class="yellow header headerSortDown">种类</th>
		</tr>
	</thead>
	
	<% @pesticides.each do |p| %>
		<tr>
			<td><a href="<%= pesticide_path(p) %>"><i class='icon-cog'></i><%= p.id %></a></td>			
			<td><%= p.name %></td>
			<td><%= p.category %></td>
		</tr>
	<% end %>
</table>

<%= bootstrap_will_paginate @pestiides %>
