<%= form_for @pesticide, :validate => true, :html => {:class => "form-horizontal"} do |f| %>
	<div class="control-group">
		<%= label_tag :name, t(:name), :class => "control-label" %>
		<div class="controls"><%= f.text_field :name, :placeholder => 'name' %></div>
	</div>
	<div class="control-group">
		<%= label_tag :category, t(:category), :class => "control-label" %>
		<div class="controls"><%= f.text_field :category, :placeholder => 'category' %></div>
	</div>
	
	<div class="form-actions">
		<%= f.submit t('helpers.submit.create', :model => Pesticide.model_name.human), :class => 'btn btn-success'%>
	</div>
<% end %>