<div class="well">
<div class="row">
	<div class="span9">
		<h3><%= link_to @pesticide.name, pesticide_path(@pesticide) %></h3>
		<h6><%= @pesticide.category %></h6>
	</div>
	<div class="span3">
		<div class="thumbnail">
			<div class="caption">
				<a class="small-grid" href="<%= pesticide_path(@pesticide) %>">
					<img src="http://placehold.it/90x90">
				</a>
				<h5><%= @pesticide.name %></h5>
              	<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              	<p>
					<%= link_to t('helpers.submit.edit', :model => Pesticide.model_name.human), edit_pesticide_path(@pesticide), :class => 'btn btn-warning'%>  
					<%= link_to t('helpers.submit.delete', :model => Pesticide.model_name.human), @pesticide, :method => :delete, :class => 'btn btn-danger'%>
				</p>
			</div>
		</div>
	</div>
</div>
</div>