.candy {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	
	background-color: rgb(245,245,245);
}

.candy-success {
	box-shadow: 0px 0px 10px rgba(0, 150, 0, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 150, 0, 0.8);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 150, 0, 0.8);
	
	background-color: rgb(245,245,245);
}

.candy-fail {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	
	background-color: rgb(245,245,245);
}

.candy-loading {
	box-shadow: 0px 0px 10px rgba(255, 150, 0, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(255, 150, 0, 0.8);
	-webkit-box-shadow: 0px 0px 10px rgba(255, 150, 0, 0.8);
	
	background-color: rgb(245,245,245);
}