.nav-list li {
	margin-top: 2px;
}

.label a {
	color: #FFF;
}

.light-weight {
	margin-left: 10px;
	color: #AAA;
	font: 80% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

.upload-form {
	position: fixed;
	z-index: 100;
}

#image-container {
	margin-top: 90px;
	
	.image-label{
		text-align: center;
		margin: auto;
		margin-top: 5px;
	}
}