<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container" style="width: auto;">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
	          	<span class="icon-bar"></span>
	          	<span class="icon-bar"></span>
	        </a>
			<a class="brand" href="<%= root_path %>" style="margin-left:0px"><%= site_name %></a>
			<div class='nav-collapse'>			
				<ul class="nav">
					<li><%= link_to User.model_name.human, users_path %></li>
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= Farmer.model_name.human %><b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to t('menu.action.browse'), farmers_path %></li>
							<li class="divider"></li>
							<li><%= link_to t('menu.action.add'), new_farmer_path %></li>
						</ul>
					</li>
			
					<li><%= link_to Grow.model_name.human, grows_path %></li>
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<%= Pesticide.model_name.human %>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to t('menu.action.browse'), pesticides_path %></li>
							<li class="divider"></li>
							<li><%= link_to t('menu.action.add'), new_pesticide_path %></li>
						</ul>
					</li>
			
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<%= Crop.model_name.human %>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to t('menu.action.browse'), crops_path %></li>
							<li class="divider"></li>
							<li><%= link_to t('menu.action.add'), new_crop_path %></li>
						</ul>
					</li>
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<%= Image.model_name.human %>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to t('menu.action.browse'), images_path %></li>
							<li class="divider"></li>
							<li><%= link_to t('menu.action.add'), new_image_path %></li>
						</ul>
					</li>
				</ul>
				
				<ul class="nav pull-right">
					<li>
						<% if current_user.nil? %>
						<%= link_to t(:signin), signin_path %>
						<% else %>
						<%= link_to t(:signout), signout_path, :method => :delete %>
						<% end %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
