<h1>Edit:</h1>
<img src="<%= @image.image_url %>" width='800'>
<%= form_for @image do |f| %>
	<%= f.label '标签:' %>
	<%= f.text_field :tag_names, :placeholder => '标签' %>
	<%= f.submit "确认", :class => 'btn btn-primary' %>
<% end %>