<% content_for :aside do %>
<!-- testing facet -->
<div class="span2">
	<div class="well sidebar-nav">
		<%= form_tag images_path, :class => 'form-search', method: :get do %>
			<%= text_field_tag :query, params[:query], :class => 'input-medium search-query', :placeholder => t('search')%>
		<% end %>
		
		<ul class="nav nav-list">
			<li class="nav-header"><%= t('label') %></li>
			<% @images.facets['tags']['terms'].each do |facet| %>
			<li>
				<span class="label label-info"><%= link_to_unless_current ImageTag.find(facet['term']).name, params.merge(tag_ids: facet['term']) %></span>
				<% if params[:tag_ids] == facet['term'].to_s %>
					<span class="pull-right"><%= link_to 'remove', tag_ids: nil %></span>
				<% else %>
					<span class="pull-right"><%= facet['count'] %></span>
				<% end %>
			</li>
			<% end %>
		</ul>
		
	</div>
</div>
<% end %>

<% @images.each do |image| %>
	<span>
	<a href="<%= image_path(image) %>"><img src="<%= image.image_url(:thumb) %>"></a>
	<% if image.date_time_original %>
		<h5>拍摄日期: <%= image.date_time_original %></h5>
	<% else %>
		<h5>上传日期: <%= image.created_at %></h5>
	<% end %>
	
	<p><b>标签: </b><%= image.tag_names %></p>
	
	</span>
<% end %>