<form class="upload-form well form-inline">
	<input id="fileupload" type="file" name="image[image]" enctype="multipart/form-data" multiple>
	<a class="btn btn-success" id="upload-btn">上传图片 <i class="icon-upload icon-white"></i></a>
	<span class="light-weight">支持图片拖拽</span>
</form>

<div id='image-container'></div>