<h1>Image</h1>
<p><img src="<%= @image.image_url %>" width="640"></p>
<% if @image.date_time_original %>
	<p>拍摄日期: <%= @image.date_time_original %></p>
<% else %>
	<p>上传日期: <%= @image.created_at %></p>
<% end %>
<p><b>标签: </b><%= @image.tag_names %></p>

<%= link_to '修改', edit_image_path(@image), :class => 'btn btn-info' %>
<%= link_to '删除', image_path(@image), :method => :delete, :class => 'btn btn-danger' %>