<!DOCTYPE html>
<html>
<head>
<%= render 'header'%>
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50">
	<%= render 'top_menu' %>
	
	<!-- Content contains nav, section and aside parts -->
	<div class="container-fluid">
		<div class="row-fluid">
			<!-- do not use 'flash' as the partial name, it will override flash variable -->
			<%= render 'flash_prompt' %>

				<!-- all the views generated here -->
			<%= yield %>
		</div>
	</div>
	
	<%= render 'footer' %>
</body>

</html>