<!DOCTYPE html>
<html>
<head>
<%= render 'header'%>
</head>

<body>
	<div id="splash" class="container">
		<!-- do not use 'flash' as the partial name, it will override flash variable -->
		<%= render 'flash_prompt' %>
		
		<%= yield %>
	</div>
	
	<%= render 'footer' %>
</body>

</html>