<!DOCTYPE html>
<html>
<head>
<%= render 'header'%>
</head>

<body>
	<div id="splash" class="container">
		<%= render 'top_menu' %>
		<!-- Content contains nav, section and aside parts -->
		<div class="container-fluid">
			<!-- do not use 'flash' as the partial name, it will override flash variable -->
			<%= render 'flash_prompt' %>
		
			<%= yield %>
		</div>
	</div>
	
	<%= render 'footer' %>
</body>

</html>